
   


  <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    .search-form {
      margin: 20px auto;
      max-width: 400px;
    }

    .weather-card {
      margin: 20px auto;
      max-width: 400px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .weather-image {
      max-width: 200px;
      margin-bottom: 20px;
    }

    .forecast-card {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #f5f5f5;
      border-radius: 5px;
    }

    .forecast-date {
      font-weight: bold;
    }

    .forecast-icon {
      width: 50px;
    }

    .forecast-description {
      flex: 1;
      margin-left: 10px;
    }

    .forecast-rain {
      color: #0099ff;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <h1>Weather App</h1>
  
     <%- include('weatherS') %>
    <%- include('first') %>
    <% weatherArticles.forEach(function(article) { %>
      <div class="weather-card">
        <h2><%= article.title %></h2>
        <p><%= article.description %></p>
        <img src="<%= article.urlToImage %>" alt="Article Image">
      </div>
    <% }); %>
  </div>

</body>

</html>
