<!DOCTYPE html>
<html>
<head>
  <title>Weather Stories</title>
  <style>
       body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

  </style>
</head>
 <body>
    <h1 style="text-align: center; padding: 20px; margin: 20px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-size: 40px;">WEATHER</h1>
     <%- include('weatherS') %>
    <%- include('first') %>
    <% weatherArticles.forEach(function(article) { %>
      <div class="weather-card">
        <h2><%= article.title %></h2>
        <p><%= article.description %></p>
        <img src="<%= article.urlToImage %>" alt="Article Image">
      </div>
    <% }); %>
  </div>
</body>
</html>
