<!DOCTYPE html>
<html>
<head>
  <title>Product Catalog</title>
  <link rel="stylesheet" href="css/style.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    .search-form {
      margin: 20px auto;
      max-width: 400px;
    }

    .weather-card {
      margin: 20px auto;
      max-width: 400px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .weather-image {
      max-width: 200px;
      margin-bottom: 20px;
    }

    .forecast-card {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #f5f5f5;
      border-radius: 5px;
    }

    .forecast-date {
      font-weight: bold;
    }

    .forecast-icon {
      width: 50px;
    }

    .forecast-description {
      flex: 1;
      margin-left: 10px;
    }

    .forecast-rain {
      color: #0099ff;
      font-weight: bold;
    }
  </style>
</head>
<body>
   <%- include('header') %>
  <div class="container">
    <h1 style="margin-top: 50px;">Product Catalog</h1>
    <p>Cart Count: <span id="cartCount"><%= cartCount %></span></p>

    <% if (checkoutSubmitted) { %>
    
      <ul class="product-list">
        <% selectedProducts.forEach(product => { %>
          <li class="product">
            <h2 class="product-title"><%= product.title %></h2>
            <img src="<%= product.imageSrc %>" alt="<%= product.title %>" class="product-image">
            <p class="product-price"><%= product.price %></p>
            <form action="/checkout" method="POST">
              <!-- Your form fields here -->
              <button type="submit" class="checkout-btn checkout-button">Checkout</button>


            </form>
            <form action="/reset" method="POST">
          <button type="submit" style="padding: 10px 20px; background-color: #4caf50; color: white; border: none; border-radius: 4px; font-size: 16px; cursor: pointer; margin-top: 10px;">Reset</button>
        </form>
          </li>
          <li>
           
        
    
          </li>
         
          
        <% }) %>
         
      </ul>
      
    <% } else { %>
      <ul class="product-list">
        <% productCatalog.forEach(product => { %>
          <li class="product">
            <h2 class="product-title"><%= product.title %></h2>
            <img src="<%= product.imageSrc %>" alt="<%= product.title %>" class="product-image">
            <p class="product-price"><%= product.price %></p>
            <form action="/addToCart" method="POST">
              <input type="hidden" name="productId" value="<%= product.id %>">
              <button type="submit">Add to Cart</button>
            </form>
          </li>
        <% }) %>
      </ul>
      <form action="/checkout" method="POST">
        <button type="submit" class="checkout-btn">Checkout</button>
      </form>
    <% } %>
  </div>
  <%- include('footer') %>
  <script>
    function makePayment() {
  var cardNumber = prompt("Please enter your credit card number:");
  var cvv = prompt("Please enter the CVV number on the back of your card:");
  var expirationDate = prompt("Please enter the expiration date of your card (MM/YYYY):");

  // You can perform validation or other necessary checks on the input here

  alert("Payment Successful! Thank you for your purchase!");
}

var buttons = document.getElementsByClassName("checkout-button");

for (var i = 0; i < buttons.length; i++) {
  buttons[i].addEventListener("click", function() {
    makePayment();
  });
}

function makePayment() {
  var cardNumber = prompt("Please enter your credit card number:");
  var cvv = prompt("Please enter the CVV number on the back of your card:");
  var expirationDate = prompt("Please enter the expiration date of your card (MM/YYYY):");

  // You can perform validation or other necessary checks on the input here

  alert("Payment Successful! Thank you for your purchase!");
}


  </script>
</body>
</html>
